<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('layouts/head') %>

  <link rel="stylesheet" href="/css/cart.css">
</head>

<body>
  <%- include('layouts/header') %>

  <div class="main">
    <div class="page-body">
      <div class="cart-ctn">
        <table class="table">
          <thead>
            <tr>
              <th><input type="checkbox" id="select-all"></th>
              <th style="width: 150px;">Hình ảnh</th>
              <th style="width: 320px;">Tên sản phẩm</th>
              <th style="width: 150px;">Đơn giá</th>
              <th>Size</th>
              <th style="width: 150px;">Số lượng</th>
              <th style="width: 150px;">Số tiền</th>
              <th style="width: 60px;">Xóa</th>
            </tr>
          </thead>
          <tbody id="table-body"></tbody>
          <script>
            $(document).on('mouseover', '.checkbox-ctn', function () {
              $(this).parents()[0].style.backgroundColor = '#f5f5f5';
            });
            $(document).on('mouseout', '.checkbox-ctn', function () {
              $(this).parents()[0].style.backgroundColor = 'white';
            });

            $(document).on('click', '.checkbox-ctn input', function () {
              $(this).prop('checked', !$(this).prop('checked'));
              if (!$(this).prop('checked')) $('th input').prop('checked', false);
              grandTotal();
            });
            $(document).on('click', '.checkbox-ctn', function () {
              $(this).find('input').prop('checked', !$(this).find('input').prop('checked'));
              if (!$(this).find('input').prop('checked')) $('th input').prop('checked', false);
              grandTotal();
            });

            $('th input').on('click', function () {
              $('.checkbox-ctn input').prop('checked', $('th input').prop('checked'));
              grandTotal();
            });

            $(document).on('click', '.quantity-input-ctn a',  function () {
              let parentTr = $(this).parents()[3];
              if ($(this).hasClass('quantity-modify-desc')) {
                if (parseInt(parentTr.getElementsByTagName('input')[1].value) > 1) {
                  parentTr.getElementsByTagName('input')[1].value = parseInt(parentTr.getElementsByTagName('input')[1].value) - 1;
                }
              } else {
                if (parseInt(parentTr.getElementsByTagName('input')[1].value) < parseInt(parentTr.getElementsByTagName('select')[0].options[parentTr.getElementsByTagName('select')[0].selectedIndex].dataset.quantity)) {
                  parentTr.getElementsByTagName('input')[1].value = parseInt(parentTr.getElementsByTagName('input')[1].value) + 1;
                }
              }
              parentTr.getElementsByTagName('input')[0].checked = true;
              parentTr.getElementsByTagName('span')[2].dataset.total = parentTr.getElementsByTagName('span')[1].dataset.price * parentTr.getElementsByTagName('input')[1].value;
              parentTr.getElementsByTagName('span')[2].innerText = new Intl.NumberFormat('de-DE', { style: 'currency', currency: 'VND' }).format(parentTr.getElementsByTagName('span')[2].dataset.total);

              grandTotal();
            });

            $(document).on('click', '.remove-ctn a', function () {
              $(this).parents()[1].remove();
              grandTotal();
            });

            function grandTotal() {
              let total = 0, listIds = '', listSizeIds = '', listSizes = '', listQuantity = '';
              Array.from($('#table-body tr')).forEach((e) => {
                if (e.getElementsByTagName('input')[0].checked) {
                  total += parseInt(e.getElementsByClassName('total-ctn')[0].getElementsByTagName('span')[0].dataset.total);
                  listIds += 'listIds[]=' + e.getElementsByClassName('name-ctn')[0].getElementsByTagName('span')[0].id + '&';
                  listSizeIds += 'listSizeIds[]=' + e.getElementsByTagName('select')[0].options[e.getElementsByTagName('select')[0].selectedIndex].value + '&';
                  listSizes += 'listSizes[]=' + e.getElementsByTagName('select')[0].options[e.getElementsByTagName('select')[0].selectedIndex].text + '&';
                  listQuantity += 'listQuantity[]=' + e.getElementsByTagName('input')[1].value + '&';
                }
              });
              listQuantity = listQuantity.slice(0, -1);
              $('#price-total').text(new Intl.NumberFormat('de-DE', { style: 'currency', currency: 'VND' }).format(total));
              $('#grand-total').text(new Intl.NumberFormat('de-DE', { style: 'currency', currency: 'VND' }).format(total + parseInt($('#ship-price').data('ship'))))
              $('#checkout').data('href', '/checkout?' + listIds + listSizeIds + listSizes + listQuantity);
            }
          </script>
          <script>
            $(document).ready(() => {
              $.ajax({
                type: 'POST',
                url: '/cart/all',
                success: function (data) {
                  if (!data.success) { return; }
                  if (data.results.length == 0) {
                    return $('#table-body').append('');
                  }
                  data.results.forEach(e => {
                    $('#table-body').append(
                      '<tr><td class="checkbox-ctn"><input type="checkbox"></td><td class="thumbnail-ctn"><a href="/product/' + e.product_id + '">'
                      + '<img src="' + e.thumbnail + '" alt=""></a></td><td class="name-ctn">'
                      + '<a href="/product/' + e.product_id + '"><span id="' + e.product_id + '">' + e.name + '</span>'
                      + '</a></td><td class="price-ctn">'
                      + '<span data-price="' + e.price + '">' + new Intl.NumberFormat('de-DE', { style: 'currency', currency: 'VND' }).format(e.price) + '</span>'
                      + '</td><td class="size-ctn"><div class="size-select-ctn"><select>'
                      + '<option value="' + e.size_id + '" data-quantity="' + e.max_quantity + '" selected>' + e.text + '</option>'
                      + '</select></div></td><td class="quantity-ctn"><div class="quantity-input-ctn row"><div class="quantity-modify">'
                      + '<a class="quantity-modify-desc" href="#" onclick="return false">-</a></div>'
                      + '<input type="number" min="1" max="' + e.max_quantity + '" value="' + e.quantity + '">'
                      + '<div class="quantity-modify"><a class="quantity-modify-asc" href="#" onclick="return false">+</a>'
                      + '</div></div></td><td class="total-ctn">'
                      + '<span data-total="' + (e.price * e.quantity) + '">' + new Intl.NumberFormat('de-DE', { style: 'currency', currency: 'VND' }).format(e.price * e.quantity) + '</span>'
                      + '</td><td class="remove-ctn"><a href="#" onclick="return false"><i class="fa-solid fa-xmark"></i></a></td></tr>'
                    );
                  });
                },
                error: function (data) {
                  console.log(data);
                }
              });
            });
          </script>
        </table>
      </div>
      <div class="edit-cart-btns-ctn">
        <div class="update-cart-btn">
          <button id="update-cart">Cập nhật</button>
          <script>
            $('#update-cart').on('click', function () {
              let productIds = Array.from($('.name-ctn span')).map(e => e.id);
              let sizeIds = Array.from($('.size-ctn select')).map(e => e.value);
              let quantities = Array.from($('.quantity-ctn input')).map(e => e.value);

              let list = [];
              for (let i = 0; i < productIds.length; i++) {
                list.push({ productId: productIds[i], sizeId: sizeIds[i], quantity: quantities[i] });
              }

              $.ajax({
                type: 'POST',
                url: '/cart/update',
                data: {
                  'list': JSON.stringify(list)
                },
                success: function (data) {
                  if (data.success) {
                    $('#cart-number').text(list.length);
                    alert('Thành công');
                  } else {
                    switch (data.code) {
                      case 'max-in-cart':
                        alert('Số sản phẩm trong giỏ không được vượt quá ' + data.max);
                        break;
                      default:
                        alert('Đã có lỗi xảy ra');
                    }
                  }
                },
                error: function (data) {
                  console.log(data);
                  alert('Đã có lỗi xảy ra');
                }
              });
            });
          </script>
        </div>
      </div>
      <div class="checkout-cart-ctn">
        <div class="checkout-cart">
          <div class="checkout-cart-title">
            <span>Thanh toán</span>
          </div>
          <div class="checkout-cart-div">
            <div class="checkout-cart-row row">
              <span>Tổng tiền hàng</span>
              <span id="price-total">0 ₫</span>
            </div>
          </div>
          <div class="checkout-cart-div">
            <div class="checkout-cart-row row">
              <span>Phí Ship</span>
              <span id="ship-price" data-ship="0">0 ₫</span>
            </div>
          </div>
          <div class="checkout-cart-div">
            <div class="checkout-cart-row row">
              <span>Tổng cộng</span>
              <span id="grand-total">0 ₫</span>
            </div>
          </div>
        </div>
        <div class="checkout-cart-btn">
            <button id="checkout" data-href="/checkout">Đặt hàng</button>
          <script>
            $('#checkout').on('click', function (e) {
              if ($('#checkout').data('href') == '/checkout') {
                alert('Bạn cần chọn ít nhất một sản phẩm');
              } else {
                window.location.href = $('#checkout').data('href');
              }
            });
          </script>
        </div>
      </div>
    </div>
  </div>

  <%- include('layouts/footer') %>
  
  <%- include('layouts/script') %>
</body>

</html>
