@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400i,700,700i');

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #f5f5f5;
}

ul {
  list-style-type: none;
}

ul, li, h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.relative {
  position: relative;
}

.loader {
  display: none;
  position: absolute;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #555;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

.row {
  display: flex;
  align-items: center;
}

.main {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.header-fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99999;
}

.header {
  background-color: white;
  user-select: none;
}

.hd-logo-ctn {
  margin: 10px 70px 10px 70px;
}

.logo {
  height: 80px;
}

.header-nav, .hd-nav-ctn {
  width: 100%;
}

.nav-text {
  margin: 0 20px 0 20px;
}

.nav-text {
  font-size: 20px;
  font-weight: 600;
}
.nav-text:hover {
  color: #d33b33;
}

.hd-search-ctn {
  border: 2px solid black;
  border-radius: 25px;
  padding: 10px;
}

#search-field {
  font-size: 18px;
  border: 0;
  outline: 0;
  margin-right: 10px;
}

.header-icons {
  margin: 0 70px 0 40px;
}

.header-icon {
  font-size: 20px;
  color: black;
  margin: 0 15px 0 15px;
}
.header-icon:hover {
  color: #d33b33;
}

.hd-cart-icon-ctn a {
  position: relative;
}

.cart-number {
  position: absolute;
  top: 15px;
  right: 5px;
}

.dropdown > a {
  padding: 30px 0 30px 0;
}

.dropdown-menu {
  z-index: 999999;
  background-color: white;
  display: none;
  position: absolute;
  border: 1px solid rgb(224, 224, 224);
  margin: 30px 0 0 0;
  animation-duration: 500ms;
}

.col-menus-ctn {
  align-items: inherit;
}

.col-menu {
  margin: 20px 0 10px 0;
  padding: 0 90px 0 30px;
  border-left: 1px solid rgb(224, 224, 224);
}

.col-menu-title {
  margin-bottom: 10px;
}
.col-menu-title a {
  color: rgb(31, 31, 31);
}

.col-menu li {
  font-size: 18px;
  margin-bottom: 10px;
}
.col-menu li a {
  color: rgb(111, 111, 111);
}
.col-menu a:hover {
  color: #d33b33;
}

.col-menus-ctn .col-menu:first-child {
  border-left: none;
}

.user-dropdown {
  right: 20px;
}

.user-menu {
  min-width: 250px;
  margin: 20px 0 10px 0;
}

.cart-menu-content h2 {
  margin: 0 0 20px 20px;
}

.cart-menu-products {
  max-height: 400px;
  margin: 0 20px 20px 20px;
  overflow-y: auto;
}

.cart-menu-products .row div:not(:last-child) {
  margin-right: 10px;
}

.cart-menu-thumb-ctn img {
  width: 70px;
  height: 70px;
}

.cart-menu-name-ctn {
  max-width: 200px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cart-menu-name-ctn span:hover {
  color: #d33b33;
}

.cart-menu-price-ctn {
  color: #d33b33;
  margin-left: auto;
}

.cart-menu-bottom {
  justify-content: space-between;
  margin-bottom: 10px;
}

.view-cart-btn {
  background-color: black;
  color: white;
  margin-left: auto;
  margin-right: 20px;
  padding: 10px;
}
.view-cart-btn:hover {
  background-color: #d33b33;
}

.hd-account-icon-ctn .user-menu {
  margin: 0;
}

.account-menu-row div {
  font-size: 20px;
  padding: 10px 20px 10px 20px;
}
.account-menu-row:not(:first-of-type) {
  border-top: 1px solid rgb(224, 224, 224);
}

.account-menu-row div:hover {
  background-color: #F5F5F5;
  color: #d33b33;
}

.slides-ctn {
  position: relative;
}

.cover-slides {
  display: flex;
  flex-direction: column;
}

.slide-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-ctn {
  height: 400px;
  background: rgba(51, 51, 51, 0.5);
  color: white;
  padding: 150px 200px 0 200px;
}

.slide-content {
  width: 100%;
}

.slide-content h1 {
  font-size: 72px;
  font-weight: bold;
}

.slide-content span {
  font-size: 22px;
  /* font-weight: bold; */
}

.prev, .next {
  background-color: black;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #d33b33;
}

.dots-ctn {
  align-self: center;
  position: absolute;
  bottom: 0;
}

.dot {
  background-color: #bbb;
  height: 20px;
  width: 20px;
  margin: 0 2px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #d33b33;
}

.cur-dot {
  background-color: #d33b33;
}

.products-list-title {
  margin-top: 70px;
  text-align: center;
}

.products-list-ctn {
  margin: 20px 150px 100px 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-ctn {
  width: min-content;
  margin: 15px 20px 15px 20px;
}

.product-thumb-ctn img {
  width: 260px;
  transition: all 0.3s ease;
}
.product-thumb-ctn img:hover {
  transform: translateY(-20px);
}

.product-text-ctn {
  background-color: rgb(236, 236, 236);;
  text-align: center;
  margin-top: -4px;
  padding: 10px;
}

.product-name-ctn {
  font-size: 18px;
}

.product-price-ctn {
  color: red;
  font-size: 17px;
  font-weight: bold;
  margin-top: 5px;
}

.activeB {
  display: none;
}

.cargetory-right-bottom {
  justify-content: space-between;
  margin: 30px 0 20px;
  width: 100%;
}

.cargetory-right-bottom p {
  font-size: 12px;
}

.cargetory-left ul li {
  padding: 12px 0;
}

.cargetory-left ul li>a{
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.cargetory-left ul li ul li{
  padding-left: 10px;
}

.cargetory-left-li ul {
  display: none;
}

.cargetory-left-li.block ul {
  display: block;
}

.product-re {
  margin-bottom: 50px;
}

.product-title {
  margin: 20px 0;
}

.product-title p {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
}

.product-title-item {
  width: calc((100%-60%)/5);
}

.footer {
  background-color: #202020;
  color: white;
}

.footer-ctn {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 70px 0 70px 0;
  align-items: flex-start;
}

.footer-col {
  width: 100%;
  margin: 0 20px 0 20px;
}

.footer-col:first-of-type {
  margin-left: 150px;
}
.footer-col:last-of-type {
  margin-right: 150px;
}

.footer-col-title {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 3px solid #d33b33;
}

.footer-col-title h4 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
}

.footer-about-us p {
  color: rgb(204, 204, 204);
  font-size: 16px;
  font-weight: 400;
  line-height: 25.32px;
  margin-bottom: 20px;
}

.footer-sn-icons ul {
  display: flex;
}

.footer-sn-icons li {
  border: 2px solid #ffffff;
}

.footer-sn-icons li:not(:first-of-type) {
  margin-left: 5px;
}

.footer-sn-icons li:hover {
  border: 2px solid #d33b33;
}
.footer-sn-icons li:hover > a .fa-brands::before {
  color: #D33B33;
}

.footer-sn-icons a {
  display: block;
  padding: 10px;
}

.fa-brands::before {
  color: white;
}

.footer-links li:not(:first-of-type) {
  margin-top: 15px;
}

.footer-links a {
  color: white !important;
  font-size: 16px;
  margin-left: 5px;
}

.footer-links a:hover {
  color: #d33b33 !important;
  margin-left: 10px !important;
}

.footer-contact-row {
  align-items: flex-start;
}

.footer-contact-row:not(:first-of-type) {
  margin-top: 20px;
}

.footer-contact-icon {
  margin-right: 10px;
}

.footer-contact-icon i::before {
  color: #cccccc;
}

.footer-contact-content, .footer-contact-content a {
  color: #cccccc;
}

.footer-contact-content a:hover {
  color: #D33B33;
}